body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table#entrylist {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    float: right;
}
.
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#board-container {
	margin: 0 auto;
	height: 35%; 
	width: 35%;
}

#wordsubmissiondiv {
	padding: 10px;
}

#letters { 
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
-ms-user-select: none;
-webkit-touch-callout: none;
}

hide {
visibility: hidden;
}
