<!DOCTYPE html>
<html>
<head>

	<title>Morpheme</title>
	<link rel='stylesheet' href='/assets/css/style.css'/>
	<script src="/assets/js/utilities.js"></script>

</head>
<body>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<div id="game">
		<script src="/assets/js/main.js?n=1" id="MainScript"></script>
			
		<div id="lobby">
		</div>

		<div id="room" class="gameplay">
			<table id="entrylist" class="gameplay">
			  <tr>
			    <th>Username</th>
			    <th>Rating</th>
			    <th>Score</th>
			  </tr>
			  <tr>
			    <td>VVCephei</td>
			    <td>345345s</td>
			    <td>20304</td>
			  </tr>
			  <tr>
			    <td>omgsandwiches</td>
			    <td>23444</td>
			    <td>432</td>
			  </tr>
			</table>

				<div id="board-container" class="gameplay">
					<div id="board-panel" class="gameplay">
						<script src="/assets/js/board.js" id="BoardPanelScript"></script>
						<script src="/assets/js/mousing.js" id="MouseListenerScript"></script>
						<div id="letters" class="gameplay">
						</div>	
				
					</div>
					<div id="wordsubmissiondiv" class="gameplay">
					<form action="submit" id="wordsubmissionform" class="gameplay">	
						<input type="text" id="wordsubmission" value="" style="font-size: 20pt; text-transform:uppercase;">
					</form>
					</div>	
				</div>
				

		</div>
	</div>
</body>
</html>
